.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
 }
  
 .card {
    flex: 0 1 18%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin-bottom: 20px;
    box-sizing: border-box;
 }
 .card span {
     display: block;
     padding: 8px 20px;
 }
 .card img {
    display: block;
    box-sizing: border-box;
    max-width: 100%;
    padding: 10px;
 }